<!-- formulario-escolar.component.html -->
<link rel="stylesheet" href="formulario-escolar.component.css">
<div>
    <h2>Formulario Escolar</h2>
  
    <form class="formularioEscoalr">
      <label for="correo-institucional">Correo Institucional:</label>
      <input type="email" id="correo-institucional" name="correo-institucional" required>
  
      <label for="carrera">Carrera:</label>
      <input type="text" id="carrera" name="carrera" required>
  
      <label for="universidad">Universidad:</label>
      <input type="text" id="universidad" name="universidad" required>
  
      <label for="periodo">Periodo:</label>
      <input type="text" id="periodo" name="periodo" required>
  
      <label for="matricula">Matrícula:</label>
      <input type="text" id="matricula" name="matricula" required>
  
      <label for="plan-educativo">Plan Educativo:</label>
      <input type="text" id="plan-educativo" name="plan-educativo" required>
  
      <label for="modalidad">Modalidad:</label>
      <select id="modalidad" name="modalidad" required>
        <option value="presencial">Presencial</option>
        <option value="virtual">Virtual</option>
      </select>
  
      <button type="submit">Enviar</button>
    </form>
  </div>
  