<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <!-- Contenido del menú -->
    <ul>
      <li><a routerLink="/"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        Inicio</a></li>
      <li><a routerLink="/formulario-ingreso">Formulario Ingreso</a></li>
      <li><a routerLink="/formulario-ftd">Formulario FTD</a></li>
      <li><a routerLink="/formulario-escolar">Formulario Escolar</a></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Contenido principal de la aplicación -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>