/* Ajustes para el menú lateral */
mat-sidenav-container {
  height: 100vh;
  background-color: #D4C19C;
}
a mat-icon{
  
  display: flexbox;
  margin-right: 15px;
  margin-left: 13px;
  font-size: 29px; /* Tamaño del icono */
  color: #9D2449; /* Color del icono */
}
mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #9D1449;
  font-weight: bold;
}

a:hover {
  color: #621132;
}
*{
  background-color: #D4C19C;
}
/* Ajustes para los iconos en el menú */
mat-icon {
  margin-right: 8px;
}
