<div id="menu">
  <button class="btn">
    
  </button>
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/datos-personales">Datos Personales</a></li>
      <li><a routerLink="/formulario-ingreso">Datos Ingreso</a></li>
      <li><a routerLink="/formulario-ftd">Datos FTD</a></li>
      <li><a routerLink="/formulario-escolares">Datos Escolares</a></li>
      <li><a routerLink="#">Generador de PDF/Excel</a></li>
      <li><a routerLink="#">CRUD Administración</a></li>
      <li><a routerLink="#">Salir</a></li>
    </ul>
</div>
