<!-- formulario-ftd.component.html -->
<link rel="stylesheet" href="formulario-ftd.component.css">
<div>
    <h2>Formulario de FTD</h2>
  
    <form class="formularioFTD">
      <label for="area">Área:</label>
      <input type="text" id="area" name="area" required>
  
      <label for="tutor">Tutor:</label>
      <input type="text" id="tutor" name="tutor" required>
  
      <label for="fechas">Fechas:</label>
      <input type="text" id="fechas" name="fechas" required>
  
      <label for="matricula">Matrícula:</label>
      <input type="text" id="matricula" name="matricula" required>
  
      <label for="correo-becario">Correo Becario:</label>
      <input type="email" id="correo-becario" name="correo-becario" required>
  
      <label for="curso">Curso:</label>
      <input type="text" id="curso" name="curso" required>
  
      <label for="estatus-infotec">Estatus Infotec:</label>
      <input type="text" id="estatus-infotec" name="estatus-infotec" required>
  
      <label for="enlace">Enlace:</label>
      <input type="text" id="enlace" name="enlace" required>
  
      <label for="becarios">Becarios:</label>
      <input type="text" id="becarios" name="becarios" required>
  
      <label for="proyectos">Proyectos:</label>
      <input type="text" id="proyectos" name="proyectos" required>
  
      <button type="submit">Enviar</button>
    </form>
  </div>
  