form {
    margin-top: 40px;
    padding: 130px;
    margin-bottom: 68px;
    margin-left: 470px;
    margin-right: 470px;
    text-align: center;
    align-items: center;
    background-color: #4E232E;
    border-radius: 43px;

}

form div{
    background-color: #4E232E;
}
form div label{
    background-color: #4E232E;
    color: white;
}
div form button{
    margin: 20px;
    align-items: center;

}
div .form-control{
    background-color: white;
    color: black;
    width: 390px;
}


