<!-- formulario-ingreso.component.html -->
<link rel="stylesheet" href="formulario-ingreso.component.css">
<div>
    <h2>Formulario de Ingreso</h2>
  
    <form class="formularioIngreso">
      <label for="horarios">Horarios:</label>
      <input type="text" id="horarios" name="horarios" required>
  
      <label for="cv">CV:</label>
      <input type="text" id="cv" name="cv" required>
  
      <label for="modalidad">Modalidad:</label>
      <select id="modalidad" name="modalidad" required>
        <option value="presencial">Presencial</option>
        <option value="virtual">Virtual</option>
      </select>
  
      <label for="historial-academico">Historial Académico:</label>
      <textarea id="historial-academico" name="historial-academico" rows="4" required></textarea>
  
      <label for="tramite">Trámite:</label>
      <input type="text" id="tramite" name="tramite" required>
  
      <label for="perfilamiento">Perfilamiento:</label>
      <input type="text" id="perfilamiento" name="perfilamiento" required>
  
      <button type="submit">Enviar</button>
    </form>
  </div>
  